*{padding: 0; margin: 0; box-sizing: border-box;}
header{
     width: 100%;
    height: 100vh;
background: linear-gradient(rgba(0,0,0,0.8),rgba(20, 19, 19, 0.2)),
                     url('images/back1.jpg');
        background-size: cover;
        color: white;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 70px;
    font-family: 'Poppins', sans-serif;
}
.logo
{
    

    font-size: 2em;
    letter-spacing: 2px;
    font-weight: bold;

}
.menu a
{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 0.5rem 1rem;
}
.menu a:nth-child(5){
    color: black;
    background-color:whitesmoke;
    border-radius: ;
    margin:0 1rem;
}
.menu i{
    font-size: 1.5rem;
    letter-spacing: 0 0.5rem;
    cursor: pointer;
}
.menu a:hover{
    background: rgb(3, 9, 11);
    border-radius: 8px;
}
.container{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
     flex-wrap: wrap;
     padding: 0 70px ;
}
.left
{
    flex-basis: 60%;
}
.right
{
    flex-basis: 30%;
}
.left h2{
    font-family: 'poppins', sans-serif;
    color:rgb(36, 189, 200);

}
.left h1{
    font-family:'serif' ,cursive ;
    font-size:3em ;
}
.left p{
    font-family: 'cursive' ,sans-serif;
    line-height:2.5rem ;
}
#hire{
    text-decoration: none;
    background: rgb(62, 17, 187);
    color: white;
    padding 1rem 2rem;
    border-radius: 8px;
    font-size: 1.5rem;
    margin: 0 1rem;

}
#myp{
    text-decoration: none;
    color: white;
    padding 1rem 2rem;
    border-radius: 8px;
    border: 1px double white;
    font-size: 1.5rem;
    margin: 0 1rem;

}
#bio
{
    cursor: pointer;
    padding:150px 70px;
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family:'poppins',sans-serif ;

}
.leftbio{
    flex-basis:  40%;
}
.rightbio{
    flex-basis: 60%;
}
.leftbio img{
         width: 100%;
         height: 700px;
         border-radius: 8px;
}
.rightbio{
    text-align: right;
    padding: 0 40px ;
}
.rightbio p{
    margin: 15px 0;
    line-height: 2.5rem;
}
/.rightbio h1{
    font-size: 3rem;
}
.info{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;

}
#follow{
    text-align: center;
}
#follow i{
        color: rgb(56, 22, 195);
        font-size: 1.5rem;
        margin: 0 0.5rem;

}
.link-h{
    text-align: center;
    margin top:1rem;
}
#cv{

     text-decoration: none;
     color: black;
     padding: 1rem 2rem;
     border-radius: 8px;
    border: radius 8px;
    font-size: 1.5rem;
    margin:0 1rem;
    border: 1px dashed grey;


}
#services{
    padding: 50px 70px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.02);
    font-family:'poppins',sans-serif;
    text-align: center;
}
.intro h1{
    font-size:3rem ;
}
.card{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.cardbody{
    flex: basis 30%;
    background: rgb(247, 246, 249);
    padding: 1rem;
    border-radius: 8px;
}
.cardbody h3{
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
.cardbody i{
    font-size: 2.5rem;
    color: rgb(10, 3, 1);
}
.cardimg img{


    width: 40%;
}

}